<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa de Ubicaciones</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>
    <h1>Mapa de Ubicaciones</h1>
    <div id="map" style="height: 500px;"></div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        var map = L.map('map').setView([14.5592277, -90.5148745], 13); // Coordenadas iniciales

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Obtener las ubicaciones desde el servidor
        fetch('/ver')
            .then(response => response.json())
            .then(data => {
                data.forEach(location => {
                    var lat = location.lat;
                    var lon = location.lon;
                    L.marker([lat, lon]).addTo(map)
                        .bindPopup("Lat: " + lat + "<br>Lon: " + lon);
                });
            })
            .catch(error => console.log('Error al cargar ubicaciones:', error));
    </script>
</body>
</html>
